[Unit]
Description=Umami: Web Analytics
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment=NODE_ENV=production
Environment=PORT=__PORT__
Environment="__YNH_NODE_LOAD_PATH__"
ExecStart=__YNH_NPM__ run start

[Install]
WantedBy=multi-user.target
